:root {
  --google-blue: #4285F4;
  --google-red: #EA4335;
  --google-yellow: #F4B400;
  --google-green: #34A853;
}

* {
  font-family: 'Poppins', sans-serif;
}

.navcus {
  background: #fff;
  border-bottom: 2px rgba(0, 0, 0, 0.07) solid;
}

.divone {
  margin-top: 5%;
}

.txtone {
  margin-top: 5%;
  font-size: 1px;
}

.butone {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainone {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-style: solid;
  border-radius: 15px;
}

.footone {
  text-align: center;
}

#myCarousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;


}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.blogPage {
  background: url('./img/banner2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.blogFooter {
  background-color: #fff;
}

.border-blue {
  border-color: var(--google-blue) !important;
}

.border-red {
  border-color: var(--google-red) !important;
}

.border-yellow {
  border-color: var(--google-yellow) !important;
}

.border-green {
  border-color: var(--google-green) !important;
}

.color-dark {
  color: #3c434e;
}

.bg-blue {
  background-color: var(--google-blue) !important;

}

.bg-red {
  background-color: var(--google-red) !important;

}

.bg-yellow {
  background-color: var(--google-yellow) !important;

}

.bg-green {
  background-color: var(--google-green) !important;

}