:root {
  --google-blue: #4285f4;
  --google-red: #ea4335;
  --google-yellow: #f4b400;
  --google-green: #34a853;
}

* {
  font-family: "Poppins", sans-serif;
}

.navcus {
  background: #fff;
  border-bottom: 2px rgba(0, 0, 0, 0.07) solid;
}

.divone {
  margin-top: 5%;
}

.txtone {
  margin-top: 5%;
  font-size: 1px;
}

.butone {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainone {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-style: solid;
  border-radius: 15px;
}

.navbar.active {
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.footone {
  text-align: center;
}

#myCarousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blogPage {
  background: url("./img/banner2.png") no-repeat center center fixed;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 1;
  -o-background-size: cover;
}

.blogFooter {
  background-color: #fff;
}

.border-blue {
  border-color: var(--google-blue) !important;
}

.border-red {
  border-color: var(--google-red) !important;
}

.border-yellow {
  border-color: var(--google-yellow) !important;
}

.border-green {
  border-color: var(--google-green) !important;
}

.color-dark {
  color: #3c434e;
}

.bg-blue {
  background-color: var(--google-blue) !important;
}

.bg-red {
  background-color: var(--google-red) !important;
}

.bg-yellow {
  background-color: var(--google-yellow) !important;
}

.bg-green {
  background-color: var(--google-green) !important;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.navbar-nav .nav-link {
  transition: background-color 0.3s, color 0.3s, border-bottom 0.2s;
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #333;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(95, 96, 118, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

div.vision_card {
  height: 55vh;
}

div.vision_card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

div.vision_card:hover .vision_card__title {
  width: 100% !important;
}

.form_submit_btn {
  padding: 0.5rem 0.5rem;
  width: 40%;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  align-items: center;
  position: fixed;
}

@media screen and (max-width: 800px) {
  .contact_logo {
    width: 80%;
  }

  .img-box {
    padding: 0rem !important;
  }
}

@media screen and (max-width: 600px) {
  .yt_video {
    width: 99%;
    height: 400;
  }

  .img-box {
    padding: 0rem !important;
  }

  .form {
    width: 80% !important;
  }

  .contact_logo {
    width: 80%;
  }
}

/* top to button */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.scroll-to-top-button button:hover {
  background-color: #0056b3;
}